# Node.js modules
frontend/node_modules/
backend/node_modules/
frontend/npm-debug.log
backend/yarn-error.log
.DS_Store

# Logs
logs/
*.log
debug.log
error.log

# Environment variables
frontend/.env
backend//.env

# Temp uploads (Multer)
uploads/
